/* #font imports
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700|Oranienbaum);

/* #global helpers
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
  box-sizing: border-box;
  font-size: 1em; /* equivalent to 16px */
  line-height: 1.375; /* 16px x 1.375 = 22px */
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-size: 2.5em; /* 2.5x body copy size = 40px */
  line-height: 1.125;
}

h2 {
  font-size: 1.5em;
  line-height: 1.5;
  margin: .5em 0 .5em;
}

main {
  margin: 0 auto; /* center main content container in page */
  width: 1000px;
}

header {
 background-color: black;
 height: 100px;
 margin-bottom: 20px;
}

header h1 {
border-bottom: 1px solid white;
color: white;
letter-spacing: .2em;
line-height: 1;
font-size: .7em;
font-weight: lighter;
margin: 0 0 0 100px;
padding: 50px 0 5px;
text-align: right;
text-transform: uppercase;
width: 30%;
}

.panel {
  border: 1px solid black;
  border-top: 10px solid black;
  margin-bottom: 20px;
}

.panel h2 {
  border-bottom: 1px solid black;
  font-family: 'Oranienbaum', serif;
  padding-left: 20px;
  text-transform: uppercase;
}

aside {
  float: right;
  width: 150px;
}

.left {
  margin-right: 20px;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container {
  width: 830px;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.col-one-half {
  width: 405px;
}

.row-pad {
  padding: 20px 0 20px 20px;
}

.row-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
