/* #font imports
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700|Oranienbaum);

/* #global helpers
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
  box-sizing: border-box;
  font-size: 1em; /* equivalent to 16px */
  line-height: 1.375; /* 16px x 1.375 = 22px */
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-size: 2.5em; /* 2.5x body copy size = 40px */
  line-height: 1.125;
}

h2 {
  font-size: 1.5em;
  line-height: 1.5;
}

h3 {
  font-size: 1em;
  line-height: 1;
  margin: .5em 0;
}

h4 {
  font-size: 1em;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: .8em;
}

a {
    color: darkgray;
    font-size: 0.8em;
    text-decoration: none;
}

a::after {
  content: "";
  display: block;
  border-bottom: 4px solid #9be;
  margin-top: -3px; /* move border up to blend in with text */
}

main {
  margin: 0 auto; /* center main content container in page */
  width: 1000px;
}

header {
 background-color: black;
 height: 100px;
 margin-bottom: 20px;
}

header h1 {
border-bottom: 1px solid white;
color: white;
letter-spacing: .2em;
line-height: 1;
font-size: .7em;
font-weight: lighter;
margin: 0 0 0 100px;
padding: 50px 0 5px;
text-align: right;
text-transform: uppercase;
width: 30%;
}

.panel {
  border: 1px solid black;
  border-top: 10px solid black;
  margin-bottom: 20px;
}

.panel h2 {
  border-bottom: 1px solid black;
  font-family: 'Oranienbaum', serif;
  padding-left: 20px;
  text-transform: uppercase;
}

.panel p {
  margin: 0;
}

.panel img {
}

.panel-body {
  padding: 0 20px 20px;
}

aside {
  float: right;
  font-size: .7em;
  font-weight: bolder;
  width: 150px;
}

aside span {
  display: block;
}

aside h4:first-child::after {
  border-bottom: 1px solid black;
  content: "";
  display: block;
  padding-top: 18px;
  margin: 0 auto;
  width: 120px;
}

dt {
  margin-top: 20px;
}

.fa {
  display: block;
  margin-bottom: 10px;
}

.fa-twitter {
  color: #00aced;
}

.fa-instagram::before {
  border-top: 1px solid black;
  content: "\f16d";
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  width: 120px;
}

.fa-instagram {
  color: #125688;
  margin-top: 20px;
}

.fa-wikipedia-w {
  display: flex;
  justify-content: center;
}

dl {
  text-align: center;
}

dd {
  display: -webkit-inline-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-inline-flexbox; /* TWEENER - IE 10 */
  display: -webkit-inline-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: inline-flex; /* NEW, Spec - Firefox, Chrome, Opera */
  margin: 0;
}

aside footer::before {
  border-top: 1px solid black;
  content: "";
  display: block;
  margin: 20px auto 0;
  padding-bottom: 35px;
  width: 120px;
}

aside footer {
  text-align: center;
}

aside footer h4 {
  margin-bottom: 0;
}

aside footer a::after {
  content: "";
  display: block;
  border-bottom: 4px solid #9be;
  margin: -5px auto 20px auto;
  width: 31px;
}


.left {
  margin-right: 20px;
}

.img-left {
  float: left;
  padding-right: 10px;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container {
  width: 830px;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.col-one-half {
  width: 405px;
}

.row-pad {
  padding: 20px 0 20px 20px;
}

.row-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
